// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}



// Main Styles

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        width: 4rem;
        height: 4rem;
        border: 3px solid slateblue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        animation: rotateAnimTwo 1s cubic-bezier(.68,.12,0,.99) forwards 1;
        cursor: pointer;

        svg {
            vertical-align: middle;
            transform: rotate(45deg);
            fill: slateblue;
            opacity: 1;
        }

        &:hover {
            animation: 
            rotateAnimOne 1s cubic-bezier(.68,.12,0,.99) forwards 1;
        }

        @keyframes rotateAnimOne {
            0% {
                transform: rotate(0deg);
                border-radius: 4rem;
            }

            100% {
                transform: rotate(45deg);
                border-radius: .25rem;
            }
        }

        @keyframes rotateAnimTwo {
            0% {
                transform: rotate(45deg);
                border-radius: .25rem;
            }

            100% {
                transform: rotate(0deg);
                border-radius: 4rem;
            }
        }
    }
}